.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */
.background-container {
 background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/e3e9c31f-aa15-4a8f-8059-04f01e6b8629/web/IN-en-20250113-TRIFECTA-perspective_febfa442-23d9-45f3-937e-72f8b971f7a9_medium.jpg');
 background-size: cover;
 width: 100%;
 height: 100vh;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
}

.form-container {
  position: absolute;
  color: white;
  top: 30%;
  left: 30%;
  background-color: #000000bf;
  padding: 10%;
  border-radius: 8px;
  height: 50%;
}

.btn-movie {
  width: 100%;
  background-color: rgb(229,9,20);
  color: white;
  padding: 10px;
  border-radius: 10px;
}